@import '~bootstrap/scss/bootstrap.scss';

.header{
    height: 100px;
}

.content{
    height: calc(100vh - 102px); 
}

.login-form{
    max-width: 500px;
}

.small{
    font-weight: 300;
}

.messages{ 
    .card-body{
        padding: 0.5em; 
        word-break: break-word;
    }
}

.message-avatar{
    width: 42px;
    height: 42px;
}

.search-avatar{
    width: 70px;
    height: 70px;
}

.message{
    max-width: 70%;
}

.my-message{
    .card-body{
        background-color: $blue;
    }
}

.others-message{
    .card-body{
        background-color: $orange;
    }
}